<!-- SIDE NAV -->
<div id="mySidenav" class="sidenav">
    <a href="/items">Home</a>
    <a href="/items/user/<%= current_user.user_id %>">My Clipboard</a>
    <a href="/users/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
    <br>
    <br>
    <button id="delete-user" data-userid="<%= current_user.user_id %>" style="display: block; margin: auto" class="btn btn-danger">Delete user</button></div>
</div>

<div id="sidenav-icon-container">
    <h2><span style="font-size:30px;cursor:pointer" onclick="toggleNav()">&#9776;</span> u/<%= current_user.login_name %></h2>
</div>
<!-- END OF SIDE NAV -->